# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. Scala
4. Java Script
5. Matlab
6. Java

**Objectives:**

* Python
* R
* Julia

Some of the commonly used libraries used by Data Scientists include:

1. NumPy
2. MatplotLib
3. Pandas

| Data Science Tools |
| ------------- |
| IBM Watson |
| R studio |
| Jupyter Notebook|
| Apache Spark |

### Below are a few examples of evaluating arithmetic expressions in Python

In [29]:
(3*4)+5

# This a simple arithmetic expression to mutiply then add integers

17

In [31]:
200/60

# This will convert 200 minutes to hours by diving by 60

3.3333333333333335

## Author
Vinay N